* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:rgb(109, 112, 103);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > ul {
    margin-bottom: 100px;
}

.list {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.timerText {
    font-weight: 600;
    font-size: 34px;
    color: red;
}